<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/cafeCard.css">
</head>
<body>

<!-- 여기부터 위로 제거 -->
<article class="cafe_card_container">
    <div class="cafe_card_info"><!--반복문-->
        <img src="../../static/img/cafe_card/starbucks_logo.png" alt="">
        <div class="cafe_card_side">
            <div class="cafe_card_name">스타벅스 (StarBucks)</div>
            <div>
                <div class="cafe_card_address">서울, 서초구</div>
                <ul class="cafe_card_tag_list"><!--반복문-->
                    <li>🚀친절해요</li>
                    <li>🚀친절해요</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cafe_card_info">
        <img src="../../static/img/cafe_card/starbucks_logo.png" alt="">
        <div class="cafe_card_side">
            <div class="cafe_card_name">스타벅스 (StarBucks)</div>
            <div>
                <div class="cafe_card_address">서울, 서초구</div>
                <ul class="cafe_card_tag_list"><!--반복문-->
                    <li>🚀친절해요</li>
                    <li>🚀친절해요</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cafe_card_info">
        <img src="../../static/img/cafe_card/starbucks_logo.png" alt="">
        <div class="cafe_card_side">
            <div class="cafe_card_name">스타벅스 (StarBucks)</div>
            <div>
                <div class="cafe_card_address">서울, 서초구</div>
                <ul class="cafe_card_tag_list"><!--반복문-->
                    <li>🚀친절해요</li>
                    <li>🚀친절해요</li>
                </ul>
            </div>
        </div>
    </div>
</article>
<!-- 여기부터 아래로 제거 -->

</body>
</html>