
<article class="cafe_card_container" th:fragment="cafeCards">
    <div class="cafe_card_info" th:each="cafe: ${cafeSlice}" th:onclick="|location.href='@{/cafe/{cafeId}(cafeId=${cafe.cafeId})}'|"><!--반복문-->
        <img th:if="${cafe.cafeImageUrl == null}" src="/img/default-cafe-logo.png" class="cafe_image" alt="">
        <img th:if="${cafe.cafeImageUrl != null}" th:src="${cafe.cafeImageUrl}" class="cafe_image" alt="">
        <div class="cafe_card_side">
            <div class="cafe_card_name" th:text="${cafe.cafeName}"></div>
            <div>
                <div class="cafe_card_address" th:text="${cafe.cafeAddress}"></div>
                <ul class="cafe_card_tag_list"><!--반복문-->
                    <li th:each="tag: ${cafe.tagList}" th:text="${tag}"></li>
                </ul>
            </div>
        </div>
    </div>
</article>
