<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/feed.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>
<body>


<!--여기부터 위로 지우기-->
<article class="feed_container">
    <div class="feed_review_info feed_space_between">
        <div class="feed_space_between">
            <div class="feed_writer_profile_img">
                <img src="../../static/img/feed/basic_profile_img.png"
                     alt="피드 작성자 프로필 이미지">
            </div>
            <div class="feed_writer_info">
                <span class="feed_cafe_name">스타벅스 (StarBucks)</span>
                <span class="feed_writer_name feed_grey_info">작성자 : aaa (강아지)</span>
                <div class="feed_grade">⭐⭐⭐</div>
            </div>
        </div>
        <div>
            <span class="feed_grey_info">2024-04-24</span>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, qui, recusandae! Ad at culpa cum eum
        exercitationem explicabo ipsam laboriosam minima modi molestiae, nesciunt quos sed. Consequuntur in libero
        magnam?
    </p>
    <ul class="feed_attached_img_list">
        <li><img src="../../static/img/feed/content_img.png" alt="피드 첨부 이미지"></li>
        <li><img src="../../static/img/feed/content_img.png" alt="피드 첨부 이미지"></li>
        <li><img src="../../static/img/feed/content_img.png" alt="피드 첨부 이미지"></li>
        <li><img src="../../static/img/feed/content_img.png" alt="피드 첨부 이미지"></li>
    </ul>
    <ul class="feed_tag_list"><!--반복문-->
        <li>🚀친절해요</li>
        <li>🚀친절해요</li>
        <li>🚀친절해요</li>
    </ul>
    <ul class="feed_function_list">
        <li><button><img src="../../static/img/icon/suit-heart.png" alt=""></button><span>0</span></li>
        <li><button><img src="../../static/img/icon/chat-dots-fill.png" alt=""></button></li>
        <li><button><img src="../../static/img/icon/gear-fill.png" alt=""></button></li>
    </ul>
    <div class="feed_dividing_line"></div>

    <!-- 댓글 -->
    <div class="feed_parent_comment_write feed_space_between">
        <textarea class="feed_comment_textarea" placeholder="댓글을 입력해 주세요"></textarea>
        <button class="feed_comment_create_btn">작성</button>
    </div>
    <div><!--반복문-->
        <div class="feed_space_between">
            <div class="feed_comment_profile_img">
                <img src="../../static/img/feed/basic_profile_img.png"
                     alt="댓글 작성자 프로필 이미지">
            </div>
            <div class="feed_parent_comment_info">
                <div class="feed_space_between">
                    <div class="feed_comment_content">
                        <div class="feed_grey_info">작성자 : aaa (강아지)</div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque aut autem consequuntur deleniti earum in iure nostrum quidem similique. Expedita in ipsam molestiae nihil numquam praesentium recusandae, rerum. Minus!
                        </div>
                    </div>
                    <div class="feed_comment_side">
                        <span class="feed_grey_info">2024-04-24</span>
                        <ul class="feed_comment_function_list">
                            <li><button><img src="../../static/img/icon/suit-heart.png" alt=""></button><span>0</span></li>
                            <li><button><img src="../../static/img/icon/chat-dots-fill.png" alt=""></button></li>
                            <li><button><img src="../../static/img/icon/gear-fill.png" alt=""></button></li>
                        </ul>
                    </div>
                </div>

                <!-- 자식 댓글 -->
                <div class="feed_child_comment_write feed_space_between">
                    <textarea class="feed_comment_textarea" placeholder="답글을 입력해 주세요"></textarea>
                    <button class="feed_comment_create_btn">작성</button>
                </div>
                <details class="feed_show_child_comment">
                    <summary>댓글</summary>
                    <div class="feed_child_comment_area"><!--반복문-->
                        <div class="feed_space_between">
                            <div class="feed_comment_profile_img">
                                <img src="../../static/img/feed/basic_profile_img.png"
                                     alt="댓글 작성자 프로필 이미지">
                            </div>
                            <div class="feed_child_comment_info feed_space_between">
                                <div class="feed_comment_content">
                                    <div class="feed_grey_info">작성자 : aaa (강아지)</div>
                                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad delectus dolorum
                                        ea eos error harum, hic illum inventore minima minus molestiae molestias numquam
                                        odit, quis repudiandae tempora tenetur ullam vitae!
                                    </div>
                                </div>
                                <div class="feed_comment_side">
                                    <span class="feed_grey_info">2024-04-24</span>
                                    <ul class="feed_comment_function_list">
                                        <li><button><img src="../../static/img/icon/suit-heart.png" alt=""></button><span>0</span></li>
                                        <li><button><img src="../../static/img/icon/chat-dots-fill.png" alt=""></button></li>
                                        <li><button><img src="../../static/img/icon/gear-fill.png" alt=""></button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</article>
<!--여기부터 아래로 지우기-->


</body>
</html>
