<div th:fragment="followList(title)" th:if="${followMembers.size() != 0}">
    <button th:if="${title == 'follower'}" class="follower_more">더보기</button>
    <button th:if="${title == 'following'}" class="following_more">더보기</button>
    <article class="followerList" th:each="member : ${followMembers}">
        <div class="followerList_follower">
            <img th:if="${member.followImage} == null" src="/img/basic-user.png">
            <img th:if="${member.followImage} != null" th:src="${member.followImage}">
            <p th:text="${member.followNickname} + ' (' + ${member.followEmail} + ')'">강아지 (aaa@aaa.com)</p>
            <span class="followerList_role" th:switch="${member.followRole}">
                <img th:case="'인증회원'" src="/img/icon/award-fill.png"/>
                <img th:case="'판매자'" src="/img/icon/check-fill.png"/>
                <img th:case="'관리자'" src="/img/icon/award-fill.png"/>
            </span>
            <button th:if="${title == 'following'}"
                    th:follwing="${member.followEmail}"
                    onclick="unfollow(this.getAttribute('follwing'))">팔로우 해제</button>
            <button class="move_follow"
                    th:onclick="|window.location.href='@{/mypage/{id}(id=${member.followMemberId})}'|">이동하기</button>
        </div>
    </article>
</div>

