<header th:fragment="headers">
    <nav class="header_bar">
        <div class="header_search_box">
            <h1><a class="header_grinder_logo" th:href="@{/}">그라인더 홈페이지</a></h1>
            <form title="검색" id="search_form">
                <select title="search_list" name="category" id="search_category">
                    <option value="cafe">카페</option>
                    <option value="feed">피드</option>
                    <option value="member">회원</option>
                </select>
                <input type="text" name="query" class="header_search" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요" id="search_query">
                <button type="submit" style="display: none">검색</button>
            </form>
        </div>
        <div class="header_btn">
            <ul th:if="${headerMember == null}" class="header_non_login">
                <li><a th:href="@{/page/login}">로그인</a></li>
                <li> | </li>
                <li><a th:href="@{/page/signup}">회원가입</a></li>
            </ul>
            <ul th:if="${headerMember} != null" class="header_login">
                <li><strong th:text="${headerMember.nickname}"></strong>님! 안녕하세요.</li>
                <button class="header_alarm">alarm</button>
                <button th:if="${memberImageUrl == null}" class="header_profile" th:onclick="|window.location.href='@{/mypage/{member_id}(member_id=${headerMember.memberId})}'|">myPage</button>
                <img th:if="${memberImageUrl != null}" class="header_profile_member" th:src="${memberImageUrl}" th:onclick="|window.location.href='@{/mypage/{member_id}(member_id=${headerMember.memberId})}'|">
            </ul>
        </div>
    </nav>

    <article th:if="${headerMember} != null" class="header_alarm_box">
        <ul class="header_alarm_list">
        <li id="aiFriendListItem">
            <div>
                <img src="/img/Alan.png">
                <p>AI 추천 친구, 앨런</p>
            </div>
            <p th:text="${headerMember.nickname} + '님의 최근 관심있는 카페를 보고 분석해봤어요! 이런 카페는 어떠세요?'"></p>
        </li>
        </ul>
<!--        <ul th:if="${checkMessage} == true" class="header_alarm_list">-->
<!--            <li th:each="message: ${AlanMessages}">-->
<!--                <div>-->
<!--                    <img src="/img/Alan.png">-->
<!--                    <p>AI 추천 친구, 앨런</p>-->
<!--                </div>-->
<!--                <p></p>-->
<!--            </li>-->
<!--        </ul>-->
        <p class="header_alarm_more"></p>
    </article>
</header>