<header th:fragment="headers">
    <nav class="header_bar">
        <div class="header_search_box">
            <h1><a class="header_grinder_logo" th:href="@{/}">그라인더 홈페이지</a></h1>
<!--            폼 태그로 묶어야 하는지?-->
            <form title="검색" id="search_form">
                <select title="search_list" name="category" id="search_category">
                    <option value="cafe">카페</option>
                    <option value="feed">피드</option>
                    <option value="member">회원</option>
                </select>
                <input type="text" name="query" class="header_search" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요" id="search_query">
                <button type="submit" style="display: none">검색</button>
            </form>
        </div>
        <div class="header_btn">
            <ul th:if="${headerMember == null}" class="header_non_login">
                <li><a th:href="@{/page/login}">로그인</a></li>
                <li> | </li>
                <li><a th:href="@{/page/signup}">회원가입</a></li>
            </ul>
            <ul th:if="${headerMember} != null" class="header_login">
                <li><strong th:text="${headerMember.nickname}"></strong>님! 안녕하세요.</li>
                <button class="header_alarm">alarm</button>
                <button class="header_profile" th:onclick="|window.location.href='@{/mypage/{member_id}(member_id=${headerMember.memberId})}'|">myPage</button>
            </ul>
        </div>
    </nav>

    <article th:if="${headerMember} != null" class="header_alarm_box">
<!--        <ul th:if="${message} != null" class="header_alarm_list">-->
<!--            <li th:each="message: ${message}" th:classappend="${message.read == false} ? 'non_read'">-->
<!--                <div>-->
<!--                    <img th:src="message.url">-->
<!--                    <p th:text="message.cafename"></p>-->
<!--                </div>-->
<!--                <p th:text="message.content"></p>-->
<!--            </li>-->
<!--        </ul>-->

        <ul th:if="${message} == null" class="header_non_alarm">
            <p>도착한 메세지가 없습니다.</p>
        </ul>

        <div class="header_alarm_line"></div>
        <p class="header_alarm_more"><a href="#">더보기</a></p>
    </article>
</header>