<article class="menu_card_container">
    <div class="menu_card_wrap">
        <h1 class="menu_card_name">아메리카노</h1>
        <ul>
            <li>예상 가격: \ 4500</li>
            <li>수정 일자: 2024-03-25</li>
        </ul>
        <br>
        <div class="menu_card_detail_title">
            <img class="menu_card_bulb" src="../../static/img/icon/bulb.png" alt="">
            <div class="menu_card_detail">메뉴 상세보기</div>
        </div>
        <hr>
        <div class="menu_card_detail_list">
            <ul>
                <li>용량: 410ml</li>
                <li>설명: 아아가 싸악 내려줘</li>
            </ul>
            <ul>
                <li>알러지 재료: 없음</li>
                <li>판매 유형: 상시</li>
            </ul>
        </div>
    </div>
    <img class="menu_card_img" src="../../static/img/not_use/starbucks_icedamericano.jpg" alt="">
</article>