<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>grinder</title>
    <link rel="stylesheet" href="/css/updateCafeInfo.css">
</head>
<body>
    <section class="update_opening_section" th:fragment="updateCafeInfo">
        <span class="update_opening_title">카페 정보 변경</span>
        <form class="update_opening_form" action="javascript:void(0);">
            <span>영업시간</span>
            <div class="day-container">
                <div class="day-box">
                    <span class="day">월요일</span>
                    <input type="time" class="cafe_open" name="monday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="monday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="monday_holiday" checked>
                </div>
                <div class="day-box">
                    <span class="day">화요일</span>
                    <input type="time" class="cafe_open" name="tuesday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="tuesday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="tuesday_holiday">
                </div>
                <div class="day-box">
                    <span class="day">수요일</span>
                    <input type="time" class="cafe_open" name="wednesday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="wednesday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="wednesday_holiday">
                </div>
                <div class="day-box">
                    <span class="day">목요일</span>
                    <input type="time" class="cafe_open" name="thursday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="thursday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="thursday_holiday">
                </div>
                <div class="day-box">
                    <span class="day">금요일</span>
                    <input type="time" class="cafe_open" name="friday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="friday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="friday_holiday">
                </div>
                <div class="day-box">
                    <span class="day">토요일</span>
                    <input type="time" class="cafe_open" name="saturday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="saturday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="saturday_holiday">
                </div>
                <div class="day-box">
                    <span class="day">일요일</span>
                    <input type="time" class="cafe_open" name="sunday_open" placeholder="영업 시작 시간">
                    <input type="time" class="cafe_close" name="sunday_close" placeholder="영업 마감 시간">
                    <span class="cafe_dayoff">휴무일</span><input type="checkbox" class="cafe_dayoff_checkbox" name="sunday_holiday" checked>
                </div>
                <button id="cafe-btn" type="submit">수정</button>
            </div>
        </form>
    </section>
    <script src="/js/attachImage.js"></script>
</body>
</html>