@import "common.css";


body {
    background: linear-gradient(to bottom right, #F5FFFA, #FFFFFF);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    padding: 20px 65px 0px 65px;
    width: 650px;
    height: 1511px;
    background-color: #FFFFFF;
}

img {
    width: 289px;
    height: 101px;
    margin-bottom: 59px;
    margin-left: 180px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 14px;
}

input:not(.day-box input:nth-child(5)), select {
    font-size: 20px;
    padding-left: 25px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
    width: 607px;
    height: 64px;
    margin-bottom: 46px;
}

.newfeed_input_box input {
    width: 468px;
    height: 63px;
    margin-right: 31px;
}

select {
    width: 607px;
    height: 64px;
}

select {
    box-sizing: content-box;
    cursor: pointer;
}

.contact-box {
    display: flex;
    height: 64px;
    margin-bottom: 46px;
}

.contact-box select {
    width: 157px;
    height: 64px;
    padding-left: 25px;
    margin-right: 42px;
}

.contact-box input {
    width: 157px;
    height: 64px;
}

.contact-box input:nth-child(2) {
    margin-right: 40.5px;
}

span {
    font-size: 20px;
    font-weight: bold;
}

#first-span {
    margin-bottom: 18px;
}

.day-container {
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 591px;
    margin-bottom: 46px;
}

.day-box {
    display: flex;
    margin-bottom: 12px;
}

.day-box span {
    display: block;
    margin-top: 20px;
    margin-right: 19px;
}

.day-box input:nth-child(2) {
    width: 154px;
    height: 64px;
    margin-right: 20px;
}

.day-box input:nth-child(3) {
    width: 154px;
    height: 64px;
    margin-right: 30px;
}

.day-box input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin-top: 17px;
}

#file-input {
    display: none;
}

#last-span {
    margin-bottom: 25px;
}

#image-btn {
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-right: 460px;
    margin-bottom: 55px;
    width: 166px;
    height: 52px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#cafe-btn {
    width: 632px;
    height: 69px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #009B55;
    font-weight: bold;
    font-size: 25px;
}