@import "common.css";

body {
    background: linear-gradient(to bottom right, #F5FFFA, white);
}

.article-box {
    background-color: #FFFFFF;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1),
    2px 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    padding: 90px;
    margin: 168px auto;
    width: 1400px;
    box-sizing: border-box;
}

label {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 19px;
}

.logo-img {
    width: 289px;
    height: 101px;
    margin-bottom: 16px;
}

.newfeed_content_area {
    margin-bottom: 42px;
}

.newfeed_content {
    width: 100%;
    height: 213px;
    font-size: 20px;
    padding: 13px 14px;
    box-sizing: border-box;
}

#file-input {
    display: none;
}

.newfeed_img_area {
    margin-bottom: 50px;
}

.newfeed_img_upload_btn {
    margin-left: 20px;
    padding: 5px 10px;
    width: fit-content;
    vertical-align: center;
    font-family: 'GodoM', sans-serif;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.newfeed_head_text {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 19px;
}

.newfeed_align_center {
    text-align: center;
}

.newfeed_upload_img {
    max-width: 400px;
    max-height: 250px;
    margin: 0 20px 20px 0;
    object-fit: contain;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 3px solid white;
    transition: transform 0.1s ease;
}

.newfeed_upload_img:hover {
    border: 3px solid #009B55;
    cursor: pointer;
}

.newfeed_upload_img:active {
    transform: scale(0.98);
}

.newfeed_divide_line {
    height: 0;
    border-bottom: #D9D9D9 solid 1px;
}

.newfeed_estimate_area {
    margin: 30px 0 40px;
    background-color: white;
    border: none;
    border-radius: 15px;
}

.newfeed_estimate_img{
    width: 41px;
    height: 41px;
}

.newfeed_estimate_head {
    display: inline-block;
    margin-top: 7px;
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
}

.newfeed_estimate_sub {
    margin: 10px 0 30px;
}

.newfeed_cafe_name_area {
    margin-bottom: 53px;
}

.newfeed_input_box {
    position: relative;
}

.newfeed_input_box img {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 13px;
    left: 9px;
}

.newfeed_input {
    width: 617px;
    height: 60px;
    padding-left: 46px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.newfeed_grad_area {
    margin-bottom: 53px;
}

.star-box {
    margin-top: 9px;
}

.newfeed_tag_area {
    margin-bottom: 86px;
}

.newfeed_tag_name {
    font-size: 15px;
    font-weight: bold;
    height: 31px;
    margin-right: 23px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1),
    2px 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.newfeed_tag_name_active {
    background-color: #FAFFFA;
    border-color: #009B55;
}

.newfeed_sub_text {
    margin: 10px 0;
    color: grey;
    font-size: 20px;
    font-weight: normal;
}

.register-btn {
    width: 237px;
    height: 69px;
    font-family: 'GodoB', sans-serif;
    font-size: 25px;
    background-color: #009B55;
    color: #FFFFFF;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}