
body {
    margin: 50px auto;
    padding: 20px;
    max-width: 1400px;
    font-family: 'GodoM', sans-serif;
}
img {
    vertical-align: top; /* 이미지 아래 비는 공간 제거 */
}
button {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

@font-face {
    font-family: 'GodoB';
    src: url('../fonts/GodoB.ttf') format('truetype');
}
@font-face {
    font-family: 'GodoM';
    src: url('../fonts/GodoM.ttf') format('truetype');
}

.feed_container {
    padding: 20px;
    border: #D9D9D9 solid 1px;
    border-radius: 15px;
}

.feed_writer_profile_img,
.feed_comment_profile_img {
    width: 71px;
}

.feed_writer_info,
.feed_child_comment_info,
.feed_parent_comment_info {
    margin-left: 30px;
}

.feed_cafe_name {
    font-family: 'GodoB', sans-serif;
    font-size: 20px;
}

.feed_writer_name {
    margin-left: 15px;
}

.feed_grey_info {
    color: #A3A3A3;
}

.feed_writer_profile_img img,
.feed_comment_profile_img img {
    object-fit: contain;
}

.feed_review_info {
    display: inline-block;
}

.feed_space_between {
    display: flex;
    justify-content: space-between;
}

.feed_dividing_line {
    height: 0;
    border-bottom: #9B9B9B solid 1px;
}

.feed_attached_img_list,
.feed_tag_list,
.feed_function_list,
.feed_comment_function_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.feed_function_list {
    margin-top: 29px;
    text-align: end;
}

.feed_tag_list {
    margin-top: 9px;
}

.feed_attached_img_list li,
.feed_tag_list li,
.feed_function_list li,
.feed_comment_function_list li {
    display: inline-block;
}

.feed_function_list li,
.feed_comment_function_list li {
    margin-left: 19px;
}

.feed_attached_img_list li {
    margin-right: 12px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.feed_attached_img_list li img {
    max-width: 100%;
    width: 249px;
    height: 249px;
    object-fit: cover;
    border-radius: 15px;
}

.feed_attached_img_list li:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.feed_tag_list li {
    padding: 7px 15px;
    border: #D9D9D9 solid 1px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 0 #D9D9D9;
}

.feed_function_list button,
.feed_comment_function_list button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.feed_dividing_line {
    margin: 22px 0 28px;
}

.feed_parent_comment_write {
    margin-bottom: 54px;
    align-items: center; /* 수직 방향 가운데 정렬 */
}

.feed_child_comment_write {
    margin-top: 25px;
    align-items: center; /* 수직 방향 가운데 정렬 */
}

.feed_comment_textarea {
    width: calc(100% - 160px);
    height: 106px;
    padding: 13px 14px;
    border-radius: 10px;
    box-sizing: border-box;
}

.feed_show_child_comment {
    margin-top: 10px;
}

.feed_comment_content {
    width: calc(100% - 150px);
}

.feed_comment_side {
    text-align: end;
}

.feed_comment_create_btn {
    width: 131px;
    height: 65px;
    margin-left: 20px;
    color: white;
    background: #009B55;
    border: none;
    border-radius: 10px;
}

.feed_child_comment_area {
    margin-top: 10px;
}