footer .footer_img {
    margin-top: 140px;
    width: 100%;
    height: 180px;
    background: url("../img/footer-background.png") no-repeat center/cover;
    text-indent: -9999px;
    opacity: 40%;
    border-radius: 15px;
    z-index: 0;
}

footer .footer_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px 100px 100px;
}

footer .footer_logo .footer_grinder {
    width: 240px;
    height: 60px;
    margin-top: 40px;
    text-indent: -9999px;
    background: url("../img/logo_img.png") no-repeat center/contain;
}

footer .footer_logo ul {
    display: flex;
    float: left;
    margin: 49px 0 0 50px;
}

footer .footer_logo ul li {
    margin-left: 20px;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,25%);
    border-radius: 50%;
}

footer .footer_logo .footer_git button {
    border: 0;
    width: 65px;
    height: 65px;
    text-indent: -9999px;
    background: url("../img/icon/git_logo.png") no-repeat center/contain;
}

footer .footer_logo .footer_est button {
    border: 0;
    width: 65px;
    height: 65px;
    text-indent: -9999px;
    background: url("../img/icon/est_logo.png") no-repeat center/contain;
}
