.menu_info_section {
    display: flex;
    flex-direction: column;
}

.menu_info_section .menu_span {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 53px;
}

.menu_info_section label {
    font-size: 25px;
    font-weight: bold;
}

.menu_info_section #last-span {
    font-size: 25px;
    font-weight: bold;
}

.menu_info_section form {
    display: flex;
    flex-direction: column;
}

.menu_info_section input:not([type="file"]), select {
    width: 607px;
    height: 64px;
    margin-top: 15px;
    margin-bottom: 34px;
    font-size: 20px;
    padding-left: 25px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu_info_section #file-input {
    display: none;
}

.menu_info_section #img-box {
    height: 10px;
}

.menu_info_section #img-box img {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-radius: 15px;
}

.menu_info_section #last-span {
    margin-bottom: 25px;
}

.menu_info_section #image-btn {
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-right: 460px;
    margin-bottom: 55px;
    width: 166px;
    height: 52px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu_info_section #Menu_add-btn {
    width: 131px;
    height: 69px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #009B55;
    font-weight: bold;
    font-size: 25px;
}

.menu_info_section .menuInfo_type_area, .menuInfo_Limited_area {
    margin-bottom: 20px;
}

.menu_info_section .menuInfo_type_area >p, .menuInfo_Limited_area >p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.menu_info_section .menuInfo_type_name, .menuInfo_Limited {
    font-size: 20px;
    font-weight: bold;
    margin-right: 23px;
    margin-bottom: 15px;
    padding: 5px 15px;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1),
    2px 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu_info_section .menuInfo_type_name_active, .menuInfo_Limited_active {
    background-color: #FAFFFA;
    border-color: #009B55;
}