.menu_card_container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    padding: 20px;
    margin-top:30px;
}

.menu_card_wrap {
    display: inline-block;
}

.menu_card_name {
    font-family: 'NanumGothic', sans-serif;
    font-size: 30px;
    margin: 10px 0 5px 0;
}

.menu_card_detail_title {
    display: inline-block;
    height: 41px;
    line-height: 41px;
    margin: 20px 0 5px 0;
}

.menu_card_bulb {
    display: inline-block;
    height: 41px;
    line-height: 41px;
    white-space: nowrap;
    margin-right: 5px;
}

.menu_card_detail {
    display: inline-block;
    height: 41px;
    line-height: 41px;
    font-family: 'GodoM', sans-serif;
    font-size: 30px;
    white-space: nowrap;
}

.menu_card_detail_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu_card_img {
    display: inline-block;
    height: 184px;
    border-radius: 15px;
}

.menu_card_container ul {
    display: inline-block;
}

.menu_card_container li {
    font-family: 'NanumGothic Light', sans-serif;
    font-size: 20px;
    color: #666666;
    margin: 8px 108px 8px 8px;
}
