
#cafeCardContainer {
    padding-top: 152px;
}

hr {
    position: relative;
    top: 152px;
    color: #D9D9D9;
}

h2 {
    position: relative;
    top: 102px;
    font-size: 30px;
}

.display_none {
    display: none;
}

#contents_container {
    text-align: center;
}

#feedContainer {
    text-align: start;
}
