

#cafeCardContainer {
    padding-top: 152px;
}

hr {
    position: relative;
    top: 152px;
    color: #D9D9D9;
}

h2 {
    position: relative;
    top: 102px;
    font-size: 30px;
}

#more_contents_button {
    /*position: relative;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*!*font-family: GodoM;*!*/
    /*!*font-size: 30px;*!*/
    /*!*color: #000;*!*/
    /*!*background-color: white;*!*/
    /*!*border: 1px solid #D9D9D9;*!*/
    /*!*border-radius: 10px;*!*/
    /*!*padding: 6px 18px;*!*/
    /*!*box-shadow: 3px 2px 4px 0 rgba(0,0,0,25%);*!*/
    /*!*z-index: 1;*!*/
    /*margin-top: 20px;*/
    /*transform: translateX(-50%);*/
}

.display_none {
    display: none;
}

#contents_container {
    text-align: center;
}
