@import "common.css";

body {
    background: linear-gradient(to bottom right, #F5FFFA, white);
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    padding: 20px;
    width: 722px;
    height: 661px;
}

#logo-img {
    width: 289px;
    height: 101px;
    margin-bottom: 39px;
}

p {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 35px;
    width: 632px;
    height: 131px;
    text-align: left;
    line-height: 1.68;
}

hr {
    border: 1px solid #A9A9A9;
    margin-top: 0px;
    margin-bottom: 76px;
    width: 632px;
}

span {
    font-size: 25px;
    font-weight: bold;
    margin-right: 420px;
    margin-bottom: 19px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}

#image-btn {
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-right: 460px;
    margin-bottom: 20px;
    width: 166px;
    height: 52px;
    border: 1px solid #D9D9D9;
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.1),
    2px 0px 4px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

#application-btn {
    width: 632px;
    height: 69px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    background-color: #009B55;
    margin-top: 20px;
    margin-bottom: 14px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

#image-box {
    border: #8A8A8A 1px solid;
    height: 30px;
    border-radius: 10px;
}

.image_name {
    font-size: 20px;
    color: #8A8A8A;
    margin: auto 20px;
}