<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>새 카페 입력 - Grinder</title>
    <link rel="icon" type="image/x-icon" href="/img/grinder.png"/>
    <link rel="stylesheet" href="/css/addCafeForm.css">
</head>
<body>
<main class="main-container">
    <article>
        <img src="/img/logo_img.png" alt="grinder-logo">
        <form action="" method="post">
            <label for="cafe-name">카페명</label>
            <input type="text" placeholder="카페명을 입력해주세요" id="cafe-name" class="input-group" autofocus required>

            <label for="address">주소</label>
            <input type="text" placeholder="주소를 입력해주세요" id="address" class="input-group" required>

            <label for="contact">연락처</label>
            <div class="contact-box">
                <select name="" id="contact">
                    <option value="010">010</option>
                    <option value="070">070</option>
                    <option value="02">02</option>
                    <option value="031">031</option>
                    <option value="032">032</option>
                    <option value="033">033</option>
                    <option value="041">041</option>
                    <option value="042">042</option>
                    <option value="043">043</option>
                    <option value="044">044</option>
                    <option value="051">051</option>
                    <option value="052">052</option>
                    <option value="053">053</option>
                    <option value="054">054</option>
                    <option value="055">055</option>
                    <option value="061">061</option>
                    <option value="062">062</option>
                    <option value="063">063</option>
                    <option value="064">064</option>
                </select>
                <input type="text" pattern="\d{3,4}" title="3~4자리의 숫자를 입력해주세요" required>
                <input type="text" pattern="\d{4}" title="4자리의 숫자를 입력해주세요" required>
            </div>
            <div class="day-container">
                <span id="first-span">영업시간</span>
                <div class="day-box" id="mon">
                    <span>월요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
                <div class="day-box" id="tue">
                    <span>화요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
                <div class="day-box" id="wed">
                    <span>수요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
                <div class="day-box" id="thu">
                    <span>목요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
                <div class="day-box" id="fri">
                    <span>금요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
                <div class="day-box" id="sat">
                    <span>토요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
                <div class="day-box" id="sun">
                    <span>일요일</span>
                    <input type="time" class="open-time" placeholder="영업 시작 시간">
                    <input type="time" class="close-time" placeholder="영업 마감 시간">
                    <span>휴무일</span><input type="checkbox" class="closed-checkbox">
                </div>
            </div>
            <button id="cafe-btn" type="submit" onclick="registerCafe()">카페 등록</button>
        </form>
    </article>
</main>

<script src="/js/addCafeForm.js"></script>
</body>
</html>
