<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grinder</title>

    <!--header css-->
    <link rel="stylesheet" href="../static/css/header.css">
    <!--admin css-->
    <link rel="stylesheet" href="../static/css/admin.css">
    <!-- css-->
</head>
<body>

<h1>관리자 페이지</h1>
<hr />

<article class="admin_article">
    <div class="admin_article_head">
        <h2 class="admin_article_title">회원 목록</h2>
        <form action="" method="GET" name="member" class="admin_article_form">
            <input type="text" name="nickname" placeholder="검색하기" class="admin_article_search">
        </form>
    </div>

    <table class="admin_list">
        <thead>
            <tr class="admin_list_row_head">
                <th>이메일</th>
                <th></th>
                <th>닉네임</th>
                <th></th>
                <th>권한</th>
                <th></th>
                <th >상태</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="admin_list_row_body">
                <td class="admin_list_data">test@test.com</td>
                <td>|</td>
                <td class="admin_list_data">user</td>
                <td>|</td>
                <td class="admin_list_data">일반회원</td>
                <td>|</td>
                <td class="admin_list_data">정상</td>
                <td class="admin_list_blank"></td>
                <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">정지</button> <button class="admin_list_button member_delete_cancel_button">해제</button> </td>
            </tr>
            <tr class="admin_list_row_body">
                <td class="admin_list_data">test@test.com</td>
                <td>|</td>
                <td class="admin_list_data">user</td>
                <td>|</td>
                <td class="admin_list_data">일반회원</td>
                <td>|</td>
                <td class="admin_list_data">정상</td>
                <td class="admin_list_blank"></td>
                <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">정지</button> <button class="admin_list_button member_delete_cancel_button">해제</button> </td>
            </tr>
            <tr class="admin_list_row_body">
                <td class="admin_list_data">test@test.com</td>
                <td>|</td>
                <td class="admin_list_data">user</td>
                <td>|</td>
                <td class="admin_list_data">일반회원</td>
                <td>|</td>
                <td class="admin_list_data">정상</td>
                <td class="admin_list_blank"></td>
                <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">정지</button> <button class="admin_list_button member_delete_cancel_button">해제</button> </td>
            </tr>

<!--            <tr th:each="member:${members}" class="admin_list_row_body">-->
<!--                <td th:text="${member.email}"></td>-->
<!--                <td th:text="${member.nickname}"></td>-->
<!--                <td th:text="${member.role}"></td>-->
<!--                <td th:if="${member.isDeleted}">사용불가</td>-->
<!--                <td th:unless="${member.isDeleted}">정상</td>-->
<!--                <td> <button class="admin_list_button member_delete_button">정지</button> <button class="admin_list_button member_delete_cancel_button">해제</button> </td>-->
<!--            </tr>-->
        </tbody>
    </table>
</article>

<article class="admin_article">
    <div class="admin_article_head">
        <h2 class="admin_article_title">신고 목록</h2>
        <form action="" method="GET" name="member" class="admin_article_form">
            <input type="text" name="nickname" placeholder="검색하기" class="admin_article_search">
        </form>
    </div>

    <table class="admin_list">
        <thead>
        <tr class="admin_list_row_head">
            <th>신고자</th>
            <th></th>
            <th>종류</th>
            <th></th>
            <th>내용</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">user</td>
            <td>|</td>
            <td class="admin_list_data">댓글</td>
            <td>|</td>
            <td class="admin_list_data">저놈이 내 치즈를 훔쳤어요</td>
            <td class="admin_list_blank"></td>
            <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">신고 처리</button> <button class="admin_list_button member_delete_cancel_button">요청 삭제</button> </td>
        </tr>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">user</td>
            <td>|</td>
            <td class="admin_list_data">댓글</td>
            <td>|</td>
            <td class="admin_list_data">저놈이 내 치즈를 훔쳤어요</td>
            <td class="admin_list_blank"></td>
            <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">신고 처리</button> <button class="admin_list_button member_delete_cancel_button">요청 삭제</button> </td>
        </tr>
        </tbody>
    </table>
</article>

<article class="admin_article">
    <div class="admin_article_head">
        <h2 class="admin_article_title">신규 장소 신청 목록</h2>
        <form action="" method="GET" name="member" class="admin_article_form">
            <input type="text" name="nickname" placeholder="검색하기" class="admin_article_search">
        </form>
    </div>

    <table class="admin_list">
        <thead>
        <tr class="admin_list_row_head">
            <th>작성자</th>
            <th></th>
            <th>카페 이름</th>
            <th></th>
            <th>카페 주소</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">user</td>
            <td>|</td>
            <td class="admin_list_data">스타벅스 뭐시기점</td>
            <td>|</td>
            <td class="admin_list_data">서울시 무슨구 뭐시기동 어쩌고</td>
            <td class="admin_list_blank"></td>
            <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">카페 등록</button> <button class="admin_list_button member_delete_cancel_button">요청 삭제</button> </td>
        </tr>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">user</td>
            <td>|</td>
            <td class="admin_list_data">스타벅스 뭐시기점</td>
            <td>|</td>
            <td class="admin_list_data">서울시 무슨구 뭐시기동 어쩌고</td>
            <td class="admin_list_blank"></td>
            <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">카페 등록</button> <button class="admin_list_button member_delete_cancel_button">요청 삭제</button> </td>
        </tr>
        </tbody>
    </table>
</article>

<article class="admin_article">
    <div class="admin_article_head">
        <h2 class="admin_article_title">판매자 신청 목록</h2>
        <form action="" method="GET" name="member" class="admin_article_form">
            <input type="text" name="nickname" placeholder="검색하기" class="admin_article_search">
        </form>
    </div>

    <table class="admin_list">
        <thead>
        <tr class="admin_list_row_head">
            <th>신청자</th>
            <th></th>
            <th>카페 이름</th>
            <th></th>
            <th>카페 주소</th>
            <th></th>
            <th>사업자등록증</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">user</td>
            <td>|</td>
            <td class="admin_list_data">스타벅스 홍대점</td>
            <td>|</td>
            <td class="admin_list_data">서울시 마포구 서교동 어쩌고</td>
            <td>|</td>
            <td class="admin_list_data"><a href="">사업자등록증</a></td>
            <td class="admin_list_blank"></td>
            <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">판매자 등록</button> <button class="admin_list_button member_delete_cancel_button">요청 삭제</button> </td>
        </tr>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">user</td>
            <td>|</td>
            <td class="admin_list_data">스타벅스 홍대점</td>
            <td>|</td>
            <td class="admin_list_data">서울시 마포구 서교동 어쩌고</td>
            <td>|</td>
            <td class="admin_list_data"><a href="">사업자등록증</a></td>
            <td class="admin_list_blank"></td>
            <td class="admin_list_button_container"> <button class="admin_list_button member_delete_button">판매자 등록</button> <button class="admin_list_button member_delete_cancel_button">요청 삭제</button> </td>
        </tr>
        </tbody>
    </table>
</article>

<article class="admin_article">
    <div class="admin_article_head">
        <h2 class="admin_article_title">카페 조회</h2>
        <form action="" method="GET" name="member" class="admin_article_form">
            <input type="text" name="nickname" placeholder="검색하기" class="admin_article_search">
        </form>
    </div>

    <table class="admin_list">
        <thead>
        <tr class="admin_list_row_head">
            <th>카페 이름</th>
            <th></th>
            <th>주소</th>
            <th></th>
            <th>전화번호</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">스타벅스 홍대역점</td>
            <td>|</td>
            <td class="admin_list_data">서울시 마포구 서교동 어쩌고 저쩌고</td>
            <td>|</td>
            <td class="admin_list_data">02-1234-5678</td>
            <td class="admin_list_blank"></td>
        </tr>
        <tr class="admin_list_row_body">
            <td class="admin_list_data">스타벅스 홍대역점</td>
            <td>|</td>
            <td class="admin_list_data">서울시 마포구 서교동 어쩌고 저쩌고</td>
            <td>|</td>
            <td class="admin_list_data">02-1234-5678</td>
            <td class="admin_list_blank"></td>
        </tr>
        </tbody>
    </table>
</article>
</body>
</html>