<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error Page</title>
    <link rel="stylesheet" href="css/error.css">
</head>
<body>

<div class="error_container">
    <h1>예상치 못한 에러가 발생했습니다.</h1>
    <p th:text="${message}">Error details will appear here.</p>
    <a href="/" class="error_btn">홈으로 돌아가기</a>
</div>

</body>
</html>