<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>grinder</title>
    <link rel="stylesheet" href="/css/findAccountForm.css">
</head>
<body>
<main class="main_container">
    <article>
        <img src="/img/logo_img.png" alt="grinder_logo" id="logo-img">
        <span>비밀번호 변경</span>

        <form action="" method="post">
            <label for="email">이메일</label>
            <input type="email" placeholder="이메일을 입력해주세요" id="email">

            <label for="name">닉네임</label>
            <input type="text" placeholder="이름을 입력해주세요" id="name">
            <label for="contact">연락처</label>
            <div class="contact-box">
                <select name="" id="contact">
                    <option value="">010</option>
                </select>
                <input type="text">
                <input type="text">
            </div>
            <button type="submit">비밀번호 변경</button>
        </form>
    </article>
</main>
<script src="/js/findAccountForm.js"></script>
</body>
</html>
