<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>grinder</title>
    <link rel="stylesheet" href="/css/findAccountFinishForm.css">
</head>
<body>
<main class="main_container">
    <article>
        <img src="/img/logo_img.png" alt="grinder_logo" id="logo-img">
        <img src="/img/icon/BsFillKeyFill.png" alt="award_img" id="key-img">
        <h1>비밀번호가 변경되었습니다.</h1>
        <p>
            해당 아이디의 비밀번호를 이메일로 전송했습니다. 이메일 <br>
            을 확인하고, [마이페이지]의 [비밀번호 변경]에서 해당 비 <br>
            밀번호를 변경해주세요!
        </p>
        <button>로그인으로 이동</button>
    </article>
</main>
</body>
</html>
