<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>grinder</title>
    <link rel="icon" type="image/x-icon" href="../static/img/grinder.png"/>
    <!--swiper css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/swiper_config.css">
    <!--header css-->
    <link rel="stylesheet" href="../static/css/header.css">
</head>
<body>

<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
            <a href="#">
                <div class="text-wrap">
                    <p>✨광고</p>
                    <h2>카페 정보를 찾고 싶다면</h2>
                    <p>그라인드에서 확인해보세요!</p>
                </div>
                <img src="" alt="">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <div class="text-wrap">
                    <p>✨광고</p>
                    <h2>카페 정보를 찾고 싶다면</h2>
                    <p>그라인드에서 확인해보세요!</p>
                </div>
                <img src="" alt="">
            </a>
        </div>
    </div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-box"></div>
</div>
<!-- Slider main container -->


<!--header js-->
<script src="../static/js/header.js"></script>
<!--swiper js-->
<script src="../static/js/swiper_config.js"></script>
</body>
</html>