<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>grinder</title>
    <link rel="stylesheet" href="/css/menuInfo.css">
</head>
<body>
    <section>
        <span id="first-span">메뉴 정보 수정</span>
        <form action="">
            <label for="">메뉴명</label>
            <input type="text" placeholder="메뉴명을 입력해 주세요">
            <label for="">가격</label>
            <input type="text" placeholder="가격을 입력해 주세요">
            <label for="">용량</label>
            <input type="text" placeholder="용량을 입력해 주세요">
            <label for="">알러지 재료</label>
            <input type="text" placeholder="알러지 재료를 입력해 주세요">
            <label for="">설명</label>
            <input type="text" placeholder="설명을 입력해 주세요">
            <label for="">메뉴 타입</label>
            <select name="" id="">
                <option value="">메뉴 타입을 선택해 주세요</option>
            </select>
            <span id="last-span">메뉴 이미지 추가</span>
            <input type="file" id="file-input" accept="image/*">
            <button type="button" onclick="openFileUploader()" id="image-btn">이미지 첨부</button>
            <div id="img-box">

            </div>
            <button id="add-btn" type="submit">추가</button>
        </form>
    </section>
    <script src="/js/attachImage.js"></script>
</body>
</html>