<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>grinder</title>
    <link rel="stylesheet" href="/css/sellerApplicationForm.css">
</head>
<body>
<main class="main_container">
    <article>
        <img src="/img/logo_img.png" alt="grinder_logo" id="logo-img">
        <p>
            판매자 신청은 정확성을 위해 사업자 등록증 사본을 직접<br>
            확인하고, 회원 정보의 전화번호로 확인 전화를 진행합니<br>
            다. 추가적인 문의사항은 관리자 연락처로 문의 바랍니다.
        </p>
        <hr>
        <span>사업자 등록증 사본</span>
        <form action="" method="post">
            <input type="file" id="file-input" accept="image/*">
            <button type="button" onclick="openFileUploader()" id="image-btn">이미지 첨부</button>
            <button id="application-btn">판매자 신청</button>
        </form>
    </article>
</main>
<script>
    function openFileUploader() {
        document.getElementById('file-input').click();
    }
</script>
</body>
</html>
