<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 정보 변경 - Grinder</title>
    <link rel="icon" type="image/x-icon" href="/img/grinder.png"/>
    <link rel="stylesheet" href="/css/addMemberForm.css">
</head>
<body>
<main class="main-container">
    <article>
        <img src="/img/logo_img.png" alt="grinder-logo">
        <label for="pw" id="now_pw-label">현재 비밀번호</label>
        <input type="password" placeholder="현재 비밀번호를 입력해주세요" id="now_pw" class="input-group">

        <label for="pw" id="pw-label">변경할 비밀번호</label>
        <input type="password" placeholder="비밀번호를 입력해주세요" id="pw" class="input-group">

        <label for="pwCheck">비밀번호 재확인</label>
        <input type="password" placeholder="비밀번호를 다시 입력해주세요" id="pwCheck" >
        <span id="password-recheck">비밀번호를 다시 입력해주세요.</span>

        <label for="nick-name">닉네임</label>
        <input type="text" id="nick-name" placeholder="닉네임을 입력해 주세요" >
        <span id="nickname-check-result">닉네임을 입력해 주세요.</span>

        <label for="contact">연락처</label>
        <div class="contact-box">
            <select name="" id="contact">
                <option value="010">010</option>
            </select>
            <input type="text" id="phonenum1">
            <input type="text" id="phonenum2">
        </div>
        <button class="btn" id="update-btn">변경 완료</button>
    </article>
</main>
<script src="/js/updateMemberForm.js"></script>
</body>
</html>
